body {
    background-color: #393e44;
}

label {
    color: #d8d8d8;
}

.navbar {
    background-color: #212529 !important;
}

.container {
    margin-top: 80px;
}

form {
    border: #d8d8d8 solid;
    padding: 20px;
    border-radius: 2em;
    background-color: #212529;
}

h3 {
    color: #d8d8d8;
}

.formButton {
    background-color: #3796e3 !important;
    border-radius: 2em !important;
    margin-top: 10px;
}

.formButton:hover {
    transform: translateY(1px);
    box-shadow: 0px 0px 10px #214a6b;
}

.error {
    color: rgb(240, 97, 97);
}

.form-control {
    margin-top: 10px;
    margin-bottom: 4px;
}
